@using ZealandZooEvent.Interfaces
@inject IStudentRepository studentRepository
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZealandZooEvent</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<style>
    body {
        background-color: #ffffff;
        color: #000000;
    }

    .navbar-custom {
        background-color: #fbf187;
    }

    .navbar-brand {
        color: #000000;
    }
</style>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">ZealandZoo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Events/OpeningHours">Opening Hours</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Events/Index">Events</a>
                        </li>
                        @if (studentRepository.LoggedInStudent()?.isAdmin == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Events/AdminPage">Admin</a>
                            </li>
                        }
                    </ul>
                    @if (studentRepository.LoggedInStudent() == null)
                    {
                        <ul class="navbar-nav ml-right">
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Students/Login">Login</a>
                        </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav ml-right">
                            <div class="dropdown">
                                <button type="button" class="btn dropdown" data-toggle="dropdown" style="background-color:white">
                                    <i class="fa fa-user-circle fa-lg"> </i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item badge-primary" asp-page="/Students/StudentProfile">Profile</a>
                                    <a class="dropdown-item badge-danger" asp-page="/Students/studentLogOut">log out</a>
                                </div>
                            </div>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

