@page "{Id:min(1)}"
@using ZealandZooEvent.Interfaces
@inject IStudentRepository studentRepository
@model ZealandZooEvent.Pages.Students.JoinEventModel
@{
    ViewData["Title"] = "JoinEvent";
}
<h1>joinevent</h1>
