@page
@model ZealandZooEvent.Pages.Students.StudentProfileModel
@{
    ViewData["Title"] = "StudentProfile";
    <h1>Profile</h1>
    <table class="table"> <thead>
        <tr>
            <th style="Color:white;">Name</th>
            <th style="color: white">Email</th>
            <th style="color:white">Kode</th>
        </tr>
        </thead>
        <body>
        <tr style="color: white;" class="table-success">
            <td>Anders</td>
            <td>test@gmail.com</td>
            <td>1234</td>
        </tr>
        <tr class="table-warning">
        </tr>
        </body> 
    
        </table>
   
}


