@page
@model ZealandZooEvent.Pages.Events.CreateEvent

@{
    ViewData["Title"] = "CreateEvent"; 
}
<h1>Create Event</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.event.Name" class="control-label"><</label>
            </div>
        </form>
    </div>
</div>
<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
   
</div>
</body>
</html>