@page
@model ZealandZooEvent.Pages.Events.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Location
            </th>
            <th>
                Time
            </th>
        </tr>
    </thead>
</table>